@model List<UserPanelApp.Models.AppUser>

@{
    ViewData["Title"] = "Panel admina";
}

<h1>Panel admina</h1>

<table class="table">
    <thead>
    <tr>
        <th>Email</th>
        <th>Rola</th>
        <th>Utworzono</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Role</td>
            <td>@user.CreatedAt.ToLocalTime()</td>
        </tr>
    }
    </tbody>
</table>